.padre{
    gap: 20px;
}

.segundos, .minutos {
    background-color: black;  
    color: white;             
    border-radius: 10px;       
    padding: 10px 15px;        
    font-size: 54px;          
    font-weight: bold;         
    text-align: center;       
    min-width: 40px;          
    display: inline-block;   
    margin-top: 25px;
    padding: 15px;
}

.clock {
    font-size: 100px;
    margin-top: 15px;
   
}